---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
  <!-- Pagination links -->
  <nav>
    <div class="pagination">
      {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
      <a href="{{ site.baseurl }}/" class="previous">新しい記事へ</a>
      {% else %}
      <a href="{{ site.baseurl }}/page/{{ paginator.previous_page }}/" class="previous">新しい記事へ</a>
      {% endif %}
      {% endif %}
      <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
      <a href="{{ site.baseurl }}/page/{{ paginator.next_page }}/" class="next" rel="next">古い記事へ</a>
      {% endif %}
    </div>
  </nav>
</div>
